# Project

In [44]:
import pandas as pd
import numpy as np

In [45]:
data=pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG (1).csv" , encoding="latin-1")

In [46]:
data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [47]:
data.head(20)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73
10,4,Algeria,2941,Animal Products,684,Fat supply quantity (g/capita/day),g/capita/day,26.22,24.64,25.37,24.60,22.71
11,4,Algeria,2905,Cereals - Excluding Beer,5511,Production,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
12,4,Algeria,2905,Cereals - Excluding Beer,5611,Import Quantity,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
13,4,Algeria,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
14,4,Algeria,2905,Cereals - Excluding Beer,5911,Export Quantity,1000 tonnes,3.00,7.00,7.00,10.00,17.00
15,4,Algeria,2905,Cereals - Excluding Beer,5301,Domestic supply quantity,1000 tonnes,15353.00,16075.00,16056.00,15803.00,17004.00
16,4,Algeria,2905,Cereals - Excluding Beer,5521,Feed,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
17,4,Algeria,2905,Cereals - Excluding Beer,5527,Seed,1000 tonnes,177.00,189.00,197.00,202.00,278.00
18,4,Algeria,2905,Cereals - Excluding Beer,5123,Losses,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
19,4,Algeria,2905,Cereals - Excluding Beer,5131,Processing,1000 tonnes,35.00,38.00,37.00,33.00,44.00

In [69]:
Item=data.groupby("Item").sum()

In [74]:
Item

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [64]:
data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [66]:
data.isnull()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,False,False,False,False,False,False,False,False,False,False,False,False
60939,False,False,False,False,False,False,False,False,False,False,False,False
60940,False,False,False,False,False,False,False,False,False,False,False,False
60941,False,False,False,False,False,False,False,False,False,False,False,False
60942,False,False,False,False,False,False,False,False,False,False,False,False

In [67]:
food.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [88]:
grouped=data.groupby("Element")

In [90]:
print(grouped["Y2018"].agg([np.size, np.max, np.mean, np.min]))

                                        size       amax          mean    amin
Element
Domestic supply quantity                5295  117038.00    411.185712  -184.0
Export Quantity                         4403   34641.00     49.806583     0.0
Fat supply quantity (g/capita/day)      5023      94.94      2.057086     0.0
Feed                                    1319   31567.00    190.603820     0.0
Food                                    4941   54077.00    265.385972     0.0
Food supply (kcal/capita/day)           5014    3450.00     91.620246     0.0
Food supply quantity (kg/capita/yr)     4905     443.56     10.058817     0.0
Import Quantity                         5139   18036.00     58.240059     0.0
Losses                                  2009   10355.00     81.624502     0.0
Other uses (non-food)                   1732   17221.00     55.166749     0.0
Processing                              2010   22609.00    153.983525     0.0
Production                              3881  118172.00    539.540533     0.0
Protein supply quantity (g/capita/day)  5023     101.08      2.373357     0.0
Residuals                               4655   17323.00      7.552860  -598.0
Seed                                     762    1474.00     33.328681     0.0
Stock Variation                         4232    2226.00      4.879751 -3396.0
Total Population - Both sexes             45  195875.00  25346.777778   211.0
Tourist consumption                      555       6.00      0.162162     0.0

In [91]:
maximum=group["Y2014"].agg(np.max)

In [92]:
maximum

1996716.35

In [96]:
area=data.groupby("Area")

In [97]:
print(area["Y2018"].agg([np.size, np.max, np.mean, np.min]))

                             size       amax         mean    amin
Area
Algeria                      1313   42228.00   263.274253   -90.0
Angola                       1424   30810.00   168.486160  -240.0
Benin                        1285   11485.00    99.808866  -256.0
Botswana                     1378    2342.00    16.994181   -35.0
Burkina Faso                 1409   19751.00    82.280204   -77.0
Cabo Verde                   1260    2541.00    12.267282   -16.0
Cameroon                     1460   25216.00   162.725510  -175.0
Central African Republic     1344    4666.00    23.013433    -4.0
Chad                         1343   15478.00    55.388690   -10.0
Comoros                        45      16.65     1.329778     0.0
Congo                        1413    5244.00    30.505105   -17.0
CÃ´te d'Ivoire                1467   25069.00   156.026117  -151.0
Djibouti                     1095    2694.00    22.806692   -10.0
Egypt                        1488   98424.00   580.826240 -3396.0
Eswatini                     1284    5596.00    44.715735   -10.0
Ethiopia                     1447  109224.00   316.343060 -1000.0
Ethiopia PDR                   39       0.00     0.000000     0.0
Gabon                        1245    2633.00    23.774648   -22.0
Gambia                       1168    2533.00    21.032021    -4.0
Ghana                        1354   30317.00   268.448497  -502.0
Guinea                       1410   12414.00    74.557458   -12.0
Guinea-Bissau                1128    2229.00    17.413309    -3.0
Kenya                        1560   51393.00   175.010853  -177.0
Lesotho                      1150    2323.00    17.467303   -70.0
Liberia                      1206    4819.00    26.151659   -23.0
Madagascar                   1439   26262.00    94.505927  -336.0
Malawi                       1447   18143.00   132.883752  -237.0
Mali                         1293   19078.00   126.211444  -598.0
Mauritania                   1195   51864.00   134.598248   -12.0
Mauritius                    1378    3155.00    35.134806   -34.0
Morocco                      1393   38349.00   291.864963  -169.0
Mozambique                   1427   29496.00   117.810036 -1445.0
Namibia                      1283    2469.00    23.367866   -30.0
Niger                        1403   22443.00    97.940687  -434.0
Nigeria                      1474  195875.00  1030.064725  -374.0
Rwanda                       1426   12302.00    53.342181  -682.0
Sao Tome and Principe        1177    2446.00    11.547782    -1.0
Senegal                      1462   15854.00    65.948771  -101.0
Seychelles                     68     204.02     6.505000     0.0
Sierra Leone                 1242    7650.00    46.768363  -180.0
South Africa                 1399   57793.00   365.177629  -597.0
Sudan                        1316   41802.00   211.399361   -99.0
Sudan (former)                 53       0.00     0.000000     0.0
Togo                         1294    7889.00    43.342812   -84.0
Tunisia                      1338   11565.00    96.472098  -319.0
Uganda                       1458   42729.00   153.735121  -271.0
United Republic of Tanzania  1419   56313.00   248.411513  -913.0
Zambia                       1451   17352.00    71.501949  -529.0
Zimbabwe                     1393   14439.00    56.475966  -273.0